*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background-color: #000029;
    font-size: 25px;
    padding: 10px;
}
body section{
    margin: 10px auto;
    padding: 10px;
    width: 90vw;
    background-color: #EEEEEE;
    max-height: 200px;
    overflow-y: scroll;
}
body section:nth-child(2){
    overflow: hidden;
}
.automatic-class{
    color: red;
}