@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 150vh;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 900px;
  height: 80%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  
  display: grid;
  grid-template-areas: "title title"
                        "imc resultado"
                        "calculo calculo";
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 60% 30% ;
}
#title-box{
  grid-area: title;
  text-align: center;
}
#imc-box{
  grid-area: imc;
}
#result-box{
  grid-area: resultado;
}
#calculo-box{
  grid-area: calculo;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  font-size: 10x;
}
#calculo-box > input[type="button"]{
  height: 30px;
  width: 80px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}
#calculo-box > input[type="button"]:hover{
  background-color: var(--primary-color-darker);
  cursor: pointer;
}

