*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #EEEEEE;
}
body h1{
    font-size: 65px;
}
section{
    background-color: #EEEEEE;
    color: #1d1d1d;
    padding: 50px;
    border-radius: 10px;
    margin-top: 2%;
}
section div p{
    font-size: 55px;
}
section div div input{
    width: 5rem;
    height: 2rem;
}